<div class="main">
  <div class="container-fluid mt-1 m-3">
    <div class="mb-3">
      <h5>Najważniejsze informacje</h5>
    </div>
    <div class="list-group list-group-flush">
      <li *ngFor="let info of infos" class="list-group-item mb-2">
        <div>
          {{info.text}}
        </div>
        <i class="fa-solid fa-trash"></i>
      </li>
    </div>
    <div class="show mt-2">
      <i *ngIf="!showAdd" class="fa-solid fa-plus" (click)="showForm()"></i>
    </div>
    <form class="mt-3" [@showHideAnimation] *ngIf="showAdd" #infoForm="ngForm" action="" (ngSubmit)="newInfo(infoForm)">
      <div class="wrapper">
        <textarea [(ngModel)]="newEntry" class="form-control" id="new-info" name="new-info" placeholder="Dodaj informację" required></textarea>
        <button type="submit" class="btn btn-primary" [disabled]="!infoForm.valid">Dodaj</button>
      </div>
    </form>
  </div>
</div>
