<div class="container">
  <div class="title">
    <h5>Najważniejsze informacje</h5>
  </div>
  <div class="list-group list-group-flush mb-3">
    <li *ngFor="let info of infos" class="list-group-item mb-2">{{info}}</li>
  </div>
  <form #infoForm="ngForm" action="" (ngSubmit)="newInfo(infoForm)">
    <div class="wrapper">
      <textarea [(ngModel)]="newEntry" class="form-control" id="new-info" name="new-info" placeholder="Dodaj informację" required></textarea>
      <button type="submit" class="btn btn-primary" [disabled]="!infoForm.valid">Dodaj</button>
    </div>
  </form>
</div>

