.wrapper {
    display: flex;
    justify-content: center;
    gap: 5px;
}

li, .list-group {
    border-radius: 5px;
}

.info-button {
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.li-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*font-weight: bold;*/
    font-size: 18px;
}

.show > i {
    font-size: 20px;
    cursor: pointer;
}

.icons {
    display: flex;
    gap: 10px;
    font-size: 17px;
}

i {
    cursor: pointer;
}

.text {
    white-space: pre-wrap;
}

.main {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

hr {
    margin-bottom: 40px;
    margin-top: 40px;
    height: 2px;
    width: 75%;
    align-self: center;
}

a:hover {
    color: #2380ff;
}
